/* App.css */

body {
  margin: 0; /* Remove default body margin */
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white for better visibility on black background */
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.search-container {
  width: 100%;
  margin-bottom: 20px;
}

#search {
  width: 100%;
  padding: 8px;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 10px;
}

.movieContainer > h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}