/* App.css */

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px; /* Add padding to give some space at the top */
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%; /* Make the title span the full width */
}

.search-container {
  width: 100%; /* Make the search container span the full width */
  margin-bottom: 20px;
}

#search {
  width: 100%;
  padding: 8px;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px; /* Limit the width of each movie container */
  margin: 10px;
}

.movieContainer > h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%; /* Make the title span the full width */
}
